<!-- The html, css and js insertion for a single course in the teaching. -->

<li>
  <div class="contentTitle"><%=teaching.course%> (<%=teaching.level%>)</div>
  <div class="contentItemItalic"><%=teaching.institution%>, <%=teaching.semester%> (<%=teaching.role%>)</div>
  <div class="teachingDescription"><%=teaching.description%></div>
</li>