<% include partials/header %>

<h3 class="sectionHeader"><span id="publicationsHeader" class="anchorTargetOffset">&nbsp;</span>Publications</h3>
<h5 class="sectionSubHeader"> <span>Conference proceedings</span> </h5>

<ul class="listNoStyle">

  <% publications.forEach(function(publication){ %>
  
	<li>
		<div class="row">
			<div class="two columns customColumns">
				<a href=<%= publication.linkToArXiv %> target="_blank"><i class="far fa-file-alt"></i></a>
				
				<% if(publication.linkToArticle && publication.linkToArticle !== ""){%>
				<a href=<%= publication.linkToArticle %> target="_blank"><i class="fas fa-link"></i></a>
				<% }%>
				
			</div>
			<div class="ten columns customColumns">
				<div class="contentTitle"> <%= publication.title %> </div>
				<div><%= publication.authors%></div>
				<div class="publicationSource">In <%= publication.publishedIn %></div>
				<div>DOI: <a href="https://www.doi.org/<%=publication.doi%>" target="_blank" class="publicationDOI"><%= publication.doi %></a></div>
				<div><%= publication.year %></div>
				<div class="abstract">
					<i class="fas fa-angle-right abstractIcon"></i>
					<span class="abstractLabel">abstract</span>
				</div>
				<p class="abstractTextDefault abstractTextHidden">
		      <%= publication.abstract %>
				</p>
			</div>
		</div>
	</li>
	<% }) %> 
</ul>

		<!--
		TODO's:
		  
		2. Feitelijk wil ik de for loop zo bouwen dat hij rekening houdt met verschillende subtypen publications. 

		8. Anchor-links in de navbar laten verwijzen naar de andere pages.
		9. Aangeven op welke pagina je zit te werken, dmv een kleurtje in de navbar
		
		-->
		
<% include partials/footer %>